body{
       margin: 0;
       padding: 0;
       font-family: sans-serif;
       height: 100vh;
}
header{
       width: 100%;
       justify-content: space-between;
       background-color: #1f2937;
       color: #f9faf8;
       display: flex;
}
.header-link{
       text-decoration: none;
       color: #f9faf8;
       gap: 12px;
}
.right-header{
       padding-right: 20px;
       display: flex;
       gap: 12px;
       align-items: center;
       font-size: 18px;
}
.left-header{
       font-size: 24px;
       padding-left: 12px;
       padding: 12px;
}
.top-div{
       align-items: center;
       padding: 40px 0 40px;
       display: flex;
       justify-content: space-evenly;
       background-color: #1f2937;
       color: #f9faf8;
}

.quote-div{
       padding: 40px 200px 40px;
       background-color: #e5e7eb;
       color: #1f2937;
       font-style: italic;
       display: flex ;
       flex-direction: column;
       justify-content: center;
       align-items: center;

}
.author{
       padding-left: 35%;
       font-size: 36px;
}
.quote{
       font-size: 16px;
       width: 50%;
       justify-content: center;
}
.sign-up{
       background-color: #3382f6;
       color: #f9faf8;
       border-radius: 8px;
       font-size: 18px;
       border: none;
       padding: 10px;
}

.logo{
       width: 100px;
       height: auto;
}

.sample-img{
       width: 250px;
       height: auto;
}
.bottom-div{
       display: flex;
       margin: 70px 300px 70px;
       justify-content: space-evenly;
       background-color: #3382f6;
       color: #f9faf8;
       border-radius: 8px;
       padding: 30px 0 30px;
       align-items: center;

}
.bottom-left{
       font-size: 18px;
}

#bot-button{
       border-color: #f9faf8;
       border-width: 5px;
       border: solid;
       height: 50px;
}

.info{
       margin: 50px 0 50px;
       display: flex;
       justify-content: center;
       gap: 50px;

}

.info-img{
       width: 150px;
       height: 150px;
       border: solid;
       border-radius: 8px;
       border-color: #3382f6;
}
.part-info{
       display: flex;
       flex-direction: column;
       flex-wrap: wrap;
       color: #74767afb;
       width: 150px;
}

footer{
       min-width: 100%;
       display: flex;
       justify-content: center;
       position: fixed;
       bottom: 0;
       padding: 20px;
       font-size: 20px;
       background-color: #1f2937;
       color: #f9faf8;
}
